.tile-1 {
  grid-area: tile1;

}
.tile-2 {
  grid-area: tile2;

}
.tile-3 {
  grid-area: tile3;

}

.about-profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #fff;
}

.tile-4 {
  grid-area: tile4;

}
.tile-5 {
  grid-area: tile5;

}
.tile-6 {
  grid-area: tile6;

}

.linkedin-profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;

}

.tile-7 {
  grid-area: tile7;

}

.weather-box {
  background: #fff;
}

.tile-8 {
  grid-area: tile8;

}

.github-profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #fff;
}

.github-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #fff;
}

.container {
  display: grid;
  grid-template-areas: 
    'tile1 tile3 tile4 tile6 tile8'
    'tile2 tile3 tile5 tile7 tile7';
    gap: 10px;
    background-color: #2196F3;
    padding: auto;
    margin: auto;
}

.navbox {
  background-color: pink;
}



/* .overlay-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  
  .overlay-content{
    position: absolute;
    font-size: 50px;
    color: white;
    background-color: rgb(232, 130, 130);
    padding:20px;
  } */